 .btn_article {
    font-family: $secundaria;
    font-size: 40px;
    font-weight: $bold;
    color: $negro;
    border: 3px solid $negro;
    width: 250px;
    line-height: 80px;
    background-color: $blanco;
}
