// navbar-toggler:focus:not(:focus-invisible) {
//     outline: 0;
// }

 .btn_article {
    width: 250px;
    line-height: 80px;
    background-color: $blanco;
}

.btn_article:hover, .btn_article:focus  { border: 1px solid $texto; }

.btn_tienda {
    width: 28.2rem;
    height: 6.2rem;
    border: none;
    transform: rotate(90deg);
    margin-block-start: 7.5rem;
    margin-right: -7.6rem;
    background-color: $blanco;
}

.btn_tienda:hover, .btn_tienda:focus { background-color: $resaltar; }
