//VALORES TIPOGRAFICOS
//De los botones
.btn_article {
   font-family: $secundaria;
   font-size: 40px;
   font-weight: $bold;
   color: $negro;
}

.btn_article:focus {
    color: $texto;
}

.btn_tienda {
    color: $negro;
    font-weight: $bold;
}

//Del Navbar
.navbar {
    .navbar-brand {
        font-family: $principal;
        color: $blanco;
        font-size: 40px;
        font-weight: $regular;
    }

    .nav-link {
        color: $negro;
        font-size: 40px;
    }
}

//De la seccion Newsletter
.newsletter {
    font-family: $principal;
    font-size: 40px;
    font-weight: $bold;
    color: $blanco;

    h3 {
        font-size: 60px;
    }

    input {
        font-family: $secundaria;
        font-size: 35px;
        line-height: 75px;
        color: $texto;
    }
}
