// PALETA DE COLORES DEL PROYECTO
$negro: #0C0910;
$texto: #A6A5A8;
$input: #D1D1D1;
$blanco: #FFF;
$resaltar: #ECECEC;

//TIPOGRAFIAS
//FAMILIAS
$principal: 'Old Standard TT', serif;
$secundaria: 'Raleway', sans-serif;

//PESO
$bold: 700;
$regular: 400;

//FONT-SIZE
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$min-width-sm: 576px;
$max-width-sm: 767.98px;
$min-width-md: 768px;
$max-width-md: 991.98px;
$min-width-lg: 992px;
$max-width-lg: 1199.98px;
