.navbar {
    padding: 0;
    height: 120px;
    width: 100vw;
    background-color: $blanco;

    .navbar-brand {
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $negro;
    }

    .navbar-toggler {
        height: 120px;
        width: 120px;
        padding-right: 80px;
    }

    @include media-breakpoint-only-md {
        .navbar-toggler {
            display: none;
        }
    }

    .navbar-toggler i {
        font-size: 50px;
        color: black;
    }

    .navbar-nav {
        z-index: 100;
        background-color: $blanco;
    }

    .nav-item {
        border-bottom: 2px solid $negro;
        display: flex;
        justify-content: center;
    }

    .nav-item:hover, .nav-item:focus { background-color: $resaltar; }

    .nav-link {
        width: 100vw;
    }
}
