.navbar {
    padding: 0;
    background-color: $blanco;
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100vw;

    .navbar-brand {
        font-family: $principal;
        color: $blanco;
        background-color: $negro;
        width: 120px;
        height: 120px;
        font-size: 40px;
        font-weight: $regular;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .navbar-toggler {
        height: 120px;
        width: 120px;
        padding-right: 80px;
    }

    .navbar-toggler i {
        font-size: 50px;
        color: black;
    }

    .bg-light {
        background-color: #FFF;
    }

    #navbarNav {
        display: flex;
        text-align: center;
        align-content: center;
    }

    .nav-item {
        border: 1px solid $negro;
        text-align: center;
    }

    .nav-link {
        width: 100vw;
        align-items: center;
        color: $negro;
        font-size: 40px;
    }
}
