//Seccion Newsletter
.newsletter {
    width: 100%;
    background-color: $negro;
    display: flex;
    justify-content: space-between;

    .datos {
        padding: 50px 0 50px 80px;
        display: flex;
        flex-direction: column;

        span {
            margin-bottom: 20px;
        }

        input {
            padding-left: 20px;
            width: 90%;
        }
    }
}
